<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-between align-items-center mt-4">
        <h1 class="text-left">All Employees</h1>
        <button class="btn btn-primary" (click)="openDialog()">New Employee</button>

      </div>
      <hr />
      <table class="table table-striped">
        <thead class="bg-light">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Emp Number</th>
            <th>address</th>
            <th>phone number</th>
            <th>marital status</th>
            <th>DOB</th>
          </tr>
        </thead>
        <tbody>
          <tr class="data" *ngFor="let employee of employees">
            <td>
              <div class="ms-3">{{employee.name}}</div>
            </td>

            <td>
              <div class="ms-3">livele@gmail.com</div>
            </td>

            <td>
              <div class="ms-3">HR</div>
            </td>
            <td>
              <div class="ms-3">12345</div>
            </td>
            <td>
              <div class="ms-3">juja</div>
            </td>
            <td>
              <div class="ms-3">0792691810</div>
            </td>
            <td>
              <div class="ms-3">single</div>
            </td>
            <td>
              <div class="ms-3">12/12/1999</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
